<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Battery Bodyguard</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <header>
                <h1 class="jumbotron">Battery Bodyguard</h1>
                {% if user.is_authenticated %}
                  You are signed in as <strong>{{ user.username }}</strong> /
                  <a href="{% url 'home' %}">home</a> /
                  <a href="{% url 'battery-list' %}">my batteries</a> /
                  {% comment %}<a href="{% url 'settings' %}">settings</a> /
                  <a href="{% url 'password' %}">change password</a> {% endcomment %}
                  <a href="{% url 'logout' %}">logout</a>
                {% else %}
                  <a href="{% url 'login' %}">login</a> /
                  <a href="{% url 'signup' %}">signup</a>
                {% endif %}
                </header>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>